<.header>
  New Answer
  <:subtitle>Use this form to manage answer records in your database.</:subtitle>
</.header>

<.answer_form changeset={@changeset} action={~p"/answers"} />

<.back navigate={~p"/answers"}>Back to answers</.back>
