<.header>
  Answer <%= @answer.id %>
  <:subtitle>This is a answer record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/answers/#{@answer}/edit"}>
      <.button>Edit answer</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Attempt"><%= @answer.attempt %></:item>
</.list>

<.back navigate={~p"/answers"}>Back to answers</.back>
